<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        Hola desde el EJS
        <h1> El numero <%= ID %> es <%= valor %> </h1>
            <ul>
                <li>1 </li>
                <li>2 </li>
                <li>3 </li>
                <li>4 </li>   
                <li>5 </li>
                <li>6 </li>
            </ul>
    </body>
</html>    